p {
  font-family: 'Raleway';
  font-size: 20px; 
  margin: 0px; 
  ;
  display: inline;
  }

  
  .zoom {
    transition: transform .2s;
  }
  
  .zoom:hover {
    -ms-transform: scale(0.9); 
    -webkit-transform: scale(0.9); 
    transform: scale(0.9); 
  }
  

  .card {
    padding: .5rem;
  }

  .footer {
    text-align: center;
}