* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: poppins;
  color: #fff;
}

.hero {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(12, 3, 51, 0.3), rgba(12, 3, 51, 0.3));
  position: relative;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero h1 {
  font-size: 5em;
  color: #fff;
  font-weight: 600;
  transition: 0.5s;
}

.hero h1:hover {
  -webkit-text-stroke: 2px #fff;
  color: transparent;
}

.hero a {
  text-decoration: none;
  color: #fff;
  font-size: 1.5em;
  border: 2px solid #fff;
  padding: 20px 50px;
  border-radius: 50px;
  margin-top: 20px;
  display: inline-block;
}

.back-video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: auto;
}

.center {
  text-align: center;
}

.nav-link {
  position: relative;
}

.nav-link:hover {
  
 border-bottom: 2px solid black;
}

.nav-link::after {
  content: '';
  opacity: 0;
  transition: all 0.2s;
  height: 2px;
  width: 100%;
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 0;
}

.nav-link:hover::after {
  opacity: 1;

}

